@import "vendor/mui";

//
// Colors
// Measurements
//  Fonts
//  Time

//
// Colors
//
$ColorPrimary: #36264A;
$ColorAccent: #FFDD00;

$ColorTextOnDark: #fff;
$ColorTextChat: #333;
$ColorTextChatUsername: #999;

$ColorPlayerBackground: #1B181F;

//
// Measurements
//
$MaxWidth: 58em;

//
//  Fonts
//
$FontChatWeight: 300;

//
//  Time
//
$DurationDrop: 0.6s;
