@import "vendor/mui";

//
// Colors
// Measurements
//  Time

//
// Colors
//
$ColorPrimary: #36264A;
$ColorAccent: #FFDD00;

$ColorTextOnDark: #fff;

$ColorPlayerBackground: #1B181F;

//
// Measurements
//
$MaxWidth: 58em;

//
//  Time
//
$DurationDrop: 0.6s;
